In [36]:
import pandas as pd 

sample_1 = pd.read_excel('경찰청_기상상태별 졸음운전 교통사고 현황_20201231 1.xlsx', 
                        #  header=1,                 # 컬럼명이 있는 위치. 두번째 행(row)을 컬럼으로 사용한다는 의미(첫번째 행은 0)
                        #  skipfooter=2,             # 마지막 행에서 두줄은 생략한다는 의미
                          )            # A 컬럼부터 C 컬럼까지 불러온다
sample_1

   구분  사고(건)  사망(명)  부상(명)    총계
0   눈      5      0     13    18
1  맑음   1933     53   3529  5515
2   비    163      5    290   458
3  안개      4      0      7    11
4  흐림     88      6    155   249
5  기타     22      0     38    60

In [37]:
import pandas as pd 

sample_1 = pd.read_csv('경찰청_도로종류별 졸음운전 교통사고 현황_20201231.csv', 
                        #  header=1,                 # 컬럼명이 있는 위치. 두번째 행(row)을 컬럼으로 사용한다는 의미(첫번째 행은 0)
                        #  skipfooter=2,             # 마지막 행에서 두줄은 생략한다는 의미
                         encoding='cp949' )            # A 컬럼부터 C 컬럼까지 불러온다
sample_1

       구분   사고(건)  사망(명)   부상(명)
0      총계  2,215      64  4,032
1    고속국도    138      13    326
2    일반국도    363      14    652
3     지방도    257      13    444
4  특별광역시도    641       8  1,205
5      시도    644      14  1,122
6      군도    111       1    188
7      기타     61       1     95

In [42]:
import pandas as pd 

sample_1 = pd.read_csv('경찰청_졸음운전 교통사고 현황_20191231.csv', 
                        #  header=1,                 # 컬럼명이 있는 위치. 두번째 행(row)을 컬럼으로 사용한다는 의미(첫번째 행은 0)
                         encoding='cp949' )            # A 컬럼부터 C 컬럼까지 불러온다
sample_1

       구분    도로종류  사고(건)  사망(명)  부상(명)
0   2017년    일반국도    363     19    698
1   2017년     지방도    230     10    451
2   2017년  특별광역시도    590     12   1189
3   2017년      시도    577     11   1125
4   2017년      군도    101      3    169
5   2017년    고속국도    120     22    273
6   2017년      기타     21      0     41
7   2018년    일반국도    249     18    487
8   2018년     지방도    170     11    359
9   2018년  특별광역시도    329      4    710
10  2018년      시도    355      2    698
11  2018년      군도     71      1    115
12  2018년    고속국도    104     16    211
13  2018년      기타     30      1     76
14  2019년    일반국도    498     29    964
15  2019년     지방도    300     18    587
16  2019년  특별광역시도    825      7   1594
17  2019년      시도    876     17   1629
18  2019년      군도    116      8    184
19  2019년    고속국도    147     20    296
20  2019년      기타    125      2    206

In [50]:
import pandas as pd 

sample_1 = pd.read_csv('경찰청_차종별 졸음운전 교통사고 현황_12_31_2020.csv', 
                         
                         encoding='cp949' )            # A 컬럼부터 C 컬럼까지 불러온다
sample_1

     년도     구분   승용차  승합차  화물차  특수차  이륜차
0  2018  사고(건)   915   65  290   11   12
1  2018  사망(명)    30    3   17    2    0
2  2018  부상(명)  1847  215  507   29   17
3  2019  사고(건)  2151   98  472   11  122
4  2019  사망(명)    57    5   35    2    0
5  2019  부상(명)  4017  318  914   19  152
6  2020  사고(건)  1600   83  396   19   86
7  2020  사망(명)    30    3   27    2    1
8  2020  부상(명)  2905  222  725   29  103

In [1]:

import matplotlib.pyplot as plt
import pandas as pd 


plt.rc('font', family='Gulim')



sample_1 = pd.read_excel('경찰청_도로종류별 졸음운전 교통사고 현황_20201231.xlsx')           

sample_1

       구분  사고(건)  사망(명)  부상(명)
0    고속국도    138     13    326
1    일반국도    363     14    652
2     지방도    257     13    444
3  특별광역시도    641      8   1205
4      시도    644     14   1122
5      군도    111      1    188
6      기타     61      1     95